<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {# You can add a block for additional head elements if needed for specific pages #}
    {% block head_extra %}{% endblock %}

    <title>{% block title %}Book Alchemy{% endblock %}</title> {# Default title, can be overridden by child templates #}

    <style>
      /* Optional: Add any global custom styles here or link another stylesheet */
      body {
        padding-top: 1rem; /* Example: Add some padding at the top if you don't have a fixed navbar */
        padding-bottom: 1rem;
      }
    </style>
  </head>
  <body>

    <div class="container-fluid"> {# Using container-fluid to allow home.html's background to span full width #}
      {% block content %}

      {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    {# You can add a block for additional scripts if needed for specific pages #}
    {% block scripts_extra %}{% endblock %}
  </body>
</html>